/KehittynytOstoslista/KehittynytOstoslista/nbproject/private/
/KehittynytOstoslista//KehittynytOstoslista/build.xml
/KehittynytOstoslista//KehittynytOstoslista/dist/
/KehittynytOstoslista//KehittynytOstoslista/web/META-INF/context.xml
