<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>TuoteServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.TuoteServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.KayttajaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlakategoriaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.AlakategoriaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BonusServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.BonusServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BonusOstotServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.BonusOstotServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KategoriaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.KategoriaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KauppaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.KauppaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaksutapaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.MaksutapaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OstoslistaKuitattuServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.OstoslistaKuitattuServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OstoslistaTallennettuServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.OstoslistaTallennettuServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuoteHintaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.TuoteHintaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuoteKategoriaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.TuoteKategoriaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuoteListaServlet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.TuoteListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OstoslistanlisaysServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.OstoslistanlisaysServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuotteenlisaysServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.TuotteenlisaysServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuotteenpoistoServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.TuotteenpoistoServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuotteenmuokkausServlet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.TuotteenmuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KaupanpoistoServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.KaupanpoistoServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KaupanlisaysServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.KaupanlisaysServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BonustenhakuServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.BonustenhakuServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HintaServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.HintaServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KauppojenhakuServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.KauppojenhakuServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HintojenhakuServLet</servlet-name>
        <servlet-class>KehittynytOstoslista.ServLets.HintojenhakuServLet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TuoteServLet</servlet-name>
        <url-pattern>/TuoteServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajaServLet</servlet-name>
        <url-pattern>/KayttajaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlakategoriaServLet</servlet-name>
        <url-pattern>/AlakategoriaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BonusServLet</servlet-name>
        <url-pattern>/BonusServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BonusOstotServLet</servlet-name>
        <url-pattern>/BonusOstotServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KategoriaServLet</servlet-name>
        <url-pattern>/KategoriaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KauppaServLet</servlet-name>
        <url-pattern>/KauppaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaksutapaServLet</servlet-name>
        <url-pattern>/MaksutapaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OstoslistaKuitattuServLet</servlet-name>
        <url-pattern>/OstoslistaKuitattuServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OstoslistaTallennettuServLet</servlet-name>
        <url-pattern>/OstoslistaTallennettuServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuoteHintaServLet</servlet-name>
        <url-pattern>/TuoteHintaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuoteKategoriaServLet</servlet-name>
        <url-pattern>/TuoteKategoriaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuoteListaServlet</servlet-name>
        <url-pattern>/TuoteListaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OstoslistanlisaysServLet</servlet-name>
        <url-pattern>/OstoslistanlisaysServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuotteenlisaysServLet</servlet-name>
        <url-pattern>/TuotteenlisaysServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuotteenpoistoServLet</servlet-name>
        <url-pattern>/TuotteenpoistoServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuotteenmuokkausServlet</servlet-name>
        <url-pattern>/TuotteenmuokkausServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KaupanpoistoServLet</servlet-name>
        <url-pattern>/KaupanpoistoServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KaupanlisaysServLet</servlet-name>
        <url-pattern>/KaupanlisaysServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BonustenhakuServLet</servlet-name>
        <url-pattern>/BonustenhakuServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HintaServLet</servlet-name>
        <url-pattern>/HintaServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KauppojenhakuServLet</servlet-name>
        <url-pattern>/KauppojenhakuServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HintojenhakuServLet</servlet-name>
        <url-pattern>/HintojenhakuServLet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
