/* 
    Created on : Jul 23, 2015, 5:40:27 PM
    Author     : Johanna
*/
body {
    background-color: #bce8f1;
    font-family: Georgia, Arial;
}

div {
    background-color:#d0e9c6;
    font-family: Georgia, Arial;
}

h1 {
    color: darkblue;
    font-family: Georgia, Arial;
}

h2 {
    color: darkblue;
    font-family: Georgia, Arial;
}

p {
    color: darkgreen;
    font-family: Georgia, Arial;
}

table, th, td {
    background-color: beige;
    border: 1px solid darkblue;
    font-family: Georgia, Arial;
}

table th {
    text-align: center;
    background-color: lightgreen;
    color: black;
    font-family: Georgia, Arial;
    padding-left: 3px;
    padding-right: 3px;
}

table td {
    padding-left: 3px;
    padding-right: 3px;
}

tbody {
    background-color: beige;
}

button {
    background-color: activecaption;
    color: black;
    font-family: Georgia, Arial;
}

.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #f6f0cc; 
   width: 100px; 
   text-align: center; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #23527c; 
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: darkviolet; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: blue;
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #f6f0cc; 
   background-color: #227755; 
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: blue;
}

a:active {
    color: #262626;
}
